@model IEnumerable<FelipeShopping.Web.Models.ProdutoModel>

<form>
    <div class="container row">
        @foreach (var produto in Model)
        {
            <div class="col-4">
                <div class="p-0 my-3 border">
                    <div class="card">
                        <img src="@produto.ImagemUrl" class="card-img-top" />
                        <div class="card-body">
                            <h3 class="card-title text-success">@produto.SubstringNome()</h3>
                            <span class="bagde badge-light mb-2">@produto.CategoriaNome</span>
                            <p class="card-text">@Html.Raw(produto.SubstringDescricao())</p>

                            <div class="row">
                                <div class="col pt-1">
                                    <span style="font-size:23px;">@string.Format("{0:c}", produto.Valor)</span>
                                </div>
                                <div class="col">
                                    <a asp-action="Detalhes" asp-route-id="@produto.Id" class="btn-primary btn-success form-control">Detalhes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</form>
